.taskInput {
    background-color: transparent;
    border: none;
    font-family: "Marck Script";
    font-size: 68px;
    padding: 4px 0 4px 8px;
    margin-left: 24px;
    margin-right: 24px;
    width: 100%;
    border-radius: 16px;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

.taskInput:focus {
    outline: none;
    box-shadow: 0 0 16px 0 #FF6B00;
}

.undone {
    text-decoration: none;
    color: #0D0060;
}

.done {
    text-decoration: line-through;
    color: #039100;
}