* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Marck Script";
  src: url(./fonts/marckscript-regular.ttf);
}

@font-face {
  font-family: "Asterik Sans Variable";
  src: url(./fonts/asterisk-sans-variable-regular.ttf);
}

@font-face {
  font-family: "Asterik Sans Variable";
  font-style: italic;
  src: url(./fonts/asterisk-sans-variable-italic.ttf);
}

body {
  background-color: #D7D7D7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
